*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("Tic\ tac\ toe.jpg");
    background-size: cover;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
h1{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    border:none ;   
}
.hide{
    background-color: white;
    padding: 0.5rem;
}
.game{
  
    height: 70%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

}
.box{
    height: 30%;
    width: 30%;
    border-radius : 1rem  ;
    border: 2px solid grey;
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
    color: red;
    font-size: 5rem;
    background-color: aliceblue;
    cursor: pointer;
}
#reset-button{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border:none ;
    margin-left: 8rem;
    cursor: pointer;
    
}
#newButton{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border:none ;
    cursor: pointer;
    margin-bottom: 1rem;


}

#mssg{

    font-size: 15vmin;
    padding: 1rem;
    font-size: 1.25rem;
    color:red;
    font-weight: bolder;
    border:none ;
    background-color: white;
    opacity: 0;
}
.msg{
    height: 30vmin;

}

    