* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}
.container {
  height: 60vh;
  display: flex;
  justify-content: center;
}
#heading-text {
  background-color: #273746;
  box-shadow: 0 0 5px 5px rgb(128, 128, 128);
  color: aqua;
  font-family: "Times New Roman", Times, serif;
  font-size: 5vw;
  border: none;
}
.hide {
  background-color: white;
  padding: 0.5rem;
}
.game {
  height: 80%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.box {
  margin-top: 3vh;
  height: 30%;
  width: 25%;
  border-radius: 1rem;
  border: 2px solid grey;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  color: red;
  font-size: 3rem;
  background-color: aliceblue;
  cursor: pointer;
}
#reset-button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  border: none;
  margin-left: 5vw;
  cursor: pointer;
}
#newButton {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  margin-bottom: 5rem;
}

#mssg {
  font-size: 10vmin;
  padding: 1rem;
  font-size: 1.25rem;
  color: red;
  font-weight: bolder;
  border: none;
  opacity: 0;
}
.msg {
  height: 30vmin;
}
